body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  background-color: palevioletred;
  margin: 15px 0 0 15px;
  display: inline-block;
  border-radius: 5px;
  border: none;
}

.link:hover {
  background-color: blue;
  color: black;
}

.form-search {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.form-input {
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: 2px solid tomato;
}

.form-select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid tomato;
  border-left: 0;
}

.form-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: tomato;
  border: 2px solid tomato;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
}

.form-button:hover {
  background-color: blue;
  border: 2px solid blue;
}

.list-weather {
  margin-top: 50px;
  width: 100%; /* Змінено на 100% */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-weather {
  box-sizing: border-box; /* Додано для врахування padding та border у загальній ширині */
  width: calc(33.3% - 20px); /* Ширина картки, враховуючи відступи між ними */
  padding: 5px;
  border-radius: 5px;
  margin: 0 10px 10px 0; /* Відступи між картками */
  text-align: center;
  list-style-type: none;
}
