<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../sass/api-simakov/api-simakov.scss" />
    <title>search-input</title>
  </head>
  <body>
    <a href="../../index.html" class="link">Home</a>

    <form class="form" id="form-search">
      <input
        class="form-input"
        type="text"
        name="news"
        placeholder="Search news"
      />
      <input class="form-input-submite" type="submit" value="Search" />
    </form>
    <div class="article-wrapper" id="articlesWrapper"></div>

    <button type="button" class="load-more-btn" id="lodMoreBtn">
      Load More
    </button>
    <script src="../../js/api-simakov/search-input.js" type="module"></script>
  </body>
</html>
